<footer>
    <div class="links">
        <p>
            <a href="#">Affiliates</a><i class="seperator"></i>
            <a href="#">Contributors</a><i class="seperator odd"></i><br class="odd_newline">
            <a href="#">Press/Media</a><i class="seperator even"></i><br class="even_newline">
            <a href="#">Careers</a><i class="seperator odd"></i><br class="odd_newline">
            <a href="#">About</a><i class="seperator"></i>
            <a href="#">Contact</a>
        </p>
        <p id="copyright">
            Copyright &#169; <span>{{year}}</span> myCompany All rights reserved.
        </p>
    </div>
    <div class="socials">
        <div class="social">
            <span class="icons"><i class="fa fa-facebook-f"></i></span>
            <span class="icons"><i class="fa fa-twitter"></i></span>
            <span class="icons"><i class="fa fa-google-plus"></i></span>
            <span class="icons"><i class="fa fa-feed"></i></span>
        </div>
    </div>
</footer>