@import url(https://db.onlinewebfonts.com/c/196c0c5e71a561354be4ab3f1b12788a?family=Museo+Slab);

*{
    font-family: "Museo Slab" , sans-serif;
}
html {
    scroll-behavior: smooth;
}
body{
    margin: auto;
    max-width: 1500px;
    min-width: 320px;
    background-color: #f7f7f7;
}